@model List<Vitkund.Models.tblBusinessidea>
@{
    ViewBag.Title = "AddBusinessIdeas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddBusinessIdeas</h2>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-12">
                    <form class="card">
                        <h3 style="text-align:center;margin:0 0 12px 0;display:none" id="successaddedh3">Data Saved Successfully</h3>

                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Add Business Ideas</h5>
                            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Title</label>&nbsp;<span style="color:red" id="validationMessagefortitle"></span><span style="color:red" id="maxvalspantitle"></span><span style="color: red; display: none" id="titlerequired">Required !!</span>
                                        <input type="hidden" id="RecordIdhidden" />
                                        <input class="form-control" type="text" maxlength="30" required id="EventTitletxtbox" placeholder="Title *">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Short Description</label>&nbsp;<span style="color:red" id="validationMessage"></span><span style="color:red" id="maxvalspanshortdesc"></span><span style="color: red; display: none" id="shortdescrequired">Required !!</span>
                                        <input class="form-control" type="text" maxlength="55" id="shortDescriptiontxtbox" placeholder="Short Description">

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Upload Image</label><span id="validationMessageimageupload" style="color:red"></span>
                                        <input class="form-control" id="imageuploader" type="file" accept="image/png, image/jpeg">
                                        <span id="uplaoderimagevalue" style="display:none"></span>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label>Long Description</label>&nbsp;<span style="color:red" id="maxvalspanlongdesc"></span><span style="color:red;display:none" id="longdescrequired">Required !!</span>
                                        <textarea class="form-control" type="text" id="Longdescriptiontxtbox" placeholder="Long Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>From Price</label>&nbsp;<span style="color:red" id="validationMessagefromprice"></span><span style="color: red; display: none" id="frompricerequired">Required !!</span>
                                        <input class="form-control" type="text" id="frompricetxtbox" placeholder="From Price">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>To Price</label>&nbsp;<span style="color:red" id="validationMessagetoprice"></span><span style="color: red; display: none" id="topricerequired">Required !!</span>
                                        <input class="form-control" type="text" id="topricetxtbox" placeholder="To Price">
                                    </div>
                                </div>
                                @*@using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
                                    {*@

                                @*}*@
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="text-end"><a class="btn btn-primary me-3" id="buttonaddupdate" href="javascript:void(0);" onclick="AddBusinessIdeas()">Add</a><a class="btn btn-danger" href="#">Cancel</a></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Business Ideas</h3>
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="my-gallery card-body" itemscope="" data-pswp-uid="1">
                        <div class="row my-gallery gallery-with-description" itemscope="" data-pswp-uid="2">
                            @foreach (var item1 in Model)
                            {
                                <figure class="col-xl-3 col-6 xl-33" itemprop="associatedMedia" itemscope="">
                                    <div style="float:right; margin-right:38px;">
                                        <a class="icon-wrapper" href="javascript:void(0);" onclick="DeleteVideo(@item1.Id)"><i class="icofont icofont-trash"></i></a>
                                    </div>
                                    <div style="float:right; margin-right:76px;">
                                        <a class="icon-wrapper" href="javascript:void(0);" onclick="EditVideo(@item1.Id)"><i class="icofont icofont-pencil"></i></a>
                                    </div>
                                    <a href="!#">

                                        @if (@item1.Image.Contains("Content"))
                                        {
                                            <img src="@item1.Image" itemprop="thumbnail" alt="Image description">
                                        }
                                        else
                                        {
                                            <img src="~/Content/Uploads/@item1.Image" itemprop="thumbnail" alt="Image description">
                                        }

                                        <div class="caption">
                                            <h4>@item1.Title</h4>
                                            <span class="clsshortdescription">@item1.ShortDescription</span>
                                            <br />
                                            @if (!string.IsNullOrEmpty(item1.fromPrice.ToString()) && !string.IsNullOrEmpty(item1.toPrice.ToString()))
                                            {
                                                <span class="classprice">Price Range :- @item1.fromPrice - @item1.toPrice</span>
                                            }
                                        </div>
                                    </a>

                                </figure>
                            }



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    var validation = false;
    var titlevalidation = true;
    var shortdescvalidation = true;
    var formpricevalidation = true;
    var topricevalidation = true;
    $(document).ready(function () {
        $('#EventTitletxtbox').on('input', function () {
            var maxLength = 30;
            var inputValue = $(this).val();
            var containsSpecialChars = /[!#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(inputValue);
            if (inputValue.length > maxLength) {
                // Trim the input to the maximum length
                var trimmedValue = inputValue.substring(0, maxLength);
                $(this).val(trimmedValue);
                $("#maxvalspantitle").text("Only 10 characters allowed.");
            }
            else {
                $("#maxvalspantitle").text("");
            }
            if (containsSpecialChars) {
                titlevalidation = false;
                $('#validationMessagefortitle').text('Special characters are not allowed.');
            }
            else {
                titlevalidation = true;
                $('#validationMessagefortitle').text('');
            }
        });
        $('#shortDescriptiontxtbox').on('input', function () {
            var maxLength = 50;
            var inputValue = $(this).val();
            var containsSpecialChars = /[!#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(inputValue);
            if (inputValue.length > maxLength) {
                // Trim the input to the maximum length
                var trimmedValue = inputValue.substring(0, maxLength);
                $(this).val(trimmedValue);
                $("#maxvalspanshortdesc").text("Only 10 characters allowed.");
            }
            else {
                $("#maxvalspanshortdesc").text("");
            }
            if (containsSpecialChars) {
                shortdescvalidation = false;
            $('#validationMessage').text('Special characters are not allowed.');
            }
            else {
                shortdescvalidation = true;
                $('#validationMessage').text('');
            }
        });
        $("#imageuploader").on('change', function () {
            var maxFileSizeInBytes = 5120 * 1024; // 1 MB (adjust as needed)
            var selectedFile = this.files[0];

            if (selectedFile && selectedFile.size > maxFileSizeInBytes) {
                $('#validationMessageimageupload').text('File size will be less than 5MB.');
                setTimeout(function () {
                    $("#imageuploader").val('');
                },1000)
            } else {
                $('#validationMessageimageupload').text('');
            }
            $("#uplaoderimagevalue").hide();
        });
        $('#frompricetxtbox').on('input', function () {
            var inputValue = $(this).val();
            if (/[^0-9]/g.test(inputValue)) {
                formpricevalidation = false;
                $('#validationMessagefromprice').text('Only numbers allowed (0-9)');
            }
            else {
                formpricevalidation = true;
                $('#validationMessagefromprice').text('');
            }
            // Allow only numbers (0-9)
            var numericValue = inputValue.replace(/[^0-9]/g, '');
            $(this).val(numericValue);
        });
        $('#topricetxtbox').on('input', function () {
            var inputValue = $(this).val();
            if (/[^0-9]/g.test(inputValue)) {
                topricevalidation = false;
                $('#validationMessagetoprice').text('Only numbers allowed (0-9)');
            }
            else {
                topricevalidation = true;
                $('#validationMessagetoprice').text('');
            }
            // Allow only numbers (0-9)
            var numericValue = inputValue.replace(/[^0-9]/g, '');
            $(this).val(numericValue);
        });
    })
    function AddBusinessIdeas() {
        //debugger
        var requiredval = true;
        var Id = $("#RecordIdhidden").val();
        var title = $("#EventTitletxtbox").val();
        var image = $("#imagetitletxtbox").val();
        var shortdescription = $("#shortDescriptiontxtbox").val();
        var longdescription = $("#Longdescriptiontxtbox").val();
        var fromprice = $("#frompricetxtbox").val();
        var toprice = $("#topricetxtbox").val();
        var formData = new FormData();
        formData.append('file', $("#imageuploader")[0].files[0]);
        if (titlevalidation == true && shortdescvalidation == true && formpricevalidation == true && topricevalidation == true)
            validation = true
        else
            validation = false;
        //validation checking
        if (title == "") { $("#titlerequired").show(); requiredval = false; } else { $("#titlerequired").hide(); requiredval = true; }
        if (shortdescription == "") { $("#shortdescrequired").show(); requiredval = false; } else { $("#shortdescrequired").hide(); requiredval = true; }
        if (longdescription == "") { $("#longdescrequired").show(); requiredval = false; } else { $("#longdescrequired").hide(); requiredval = true; }
        if (fromprice == "") { $("#frompricerequired").show(); requiredval = false; } else { $("#frompricerequired").hide(); requiredval = true; }
        if (toprice == "") { $("#topricerequired").show(); requiredval = false; } else { $("#topricerequired").hide(); requiredval = true; }
        //validation checking

        if (requiredval ==true && validation == true) {
            $.ajax({
                url: '@Url.Action("UploadFile", "Home")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    var tblBusinessideadata = { Id: Id, Title: title, Image: response, ShortDescription: shortdescription, LongDescription: longdescription, fromprice: fromprice, toprice: toprice };
                    finaladdmodal(tblBusinessideadata);
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }
        else { }

    }
    function finaladdmodal(tblBusinessideadata) {
        $.ajax({
            type: 'POST',
            url: '/Home/AddBusinessIdeas',
            data: JSON.stringify({ tblBusinessidea:tblBusinessideadata}),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (result) {
                debugger
                    alert(result.message);
                    window.location.reload();

            },
            error: function (result) {
            }
        });

    }
    function EditVideo(elm) {
            debugger
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBusinessIdeaById", "Home")',
                data: JSON.stringify({ Id: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    if (response.message != "") {
                        $("#EventTitletxtbox").val(response.message.Title);
                        $("#shortDescriptiontxtbox").val(response.message.ShortDescription);
                        $("#Longdescriptiontxtbox").val(response.message.LongDescription);
                        $("#RecordIdhidden").val(response.message.Id);
                        $("#uplaoderimagevalue").text(response.message.Image);
                        $("#topricetxtbox").val(response.message.toPrice);
                        $("#frompricetxtbox").val(response.message.fromPrice);
                        $("#uplaoderimagevalue").show();
                        $("#buttonaddupdate").text("Update");
                        window.scrollTo(0, 0);
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
    }
    function DeleteVideo(elm) {

        var result = confirm("Want to delete?");
        if (result) {
            debugger
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteBusinessIdea", "Home")',
                data: JSON.stringify({ Id: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    if (response.message == "Data Deleted successfully") {
                        alert(response.message);
                        window.location.reload();
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }


    }
</script>
