@model List<Vitkund.Models.tblBusinessidea>
@{
    ViewBag.Title = "AddBusinessIdeas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddBusinessIdeas</h2>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-12">
                    <form class="card">
                        <h3 style="text-align:center;margin:0 0 12px 0;display:none" id="successaddedh3">Data Saved Successfully</h3>

                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Add Business Ideas</h5>
                            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Title</label>
                                        <input type="hidden" id="RecordIdhidden" />
                                        <input class="form-control" type="text" id="EventTitletxtbox" placeholder="Title *">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Short Description</label>
                                        <input class="form-control" type="text" id="shortDescriptiontxtbox" placeholder="Short Description">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Upload Image</label>
                                        <input class="form-control" id="imageuploader" type="file" accept="image/png, image/jpeg">
                                        <span id="uplaoderimagevalue" style="display:none"></span>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label>Long Description</label>
                                        <textarea class="form-control" type="text" id="Longdescriptiontxtbox" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                @*@using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
                                    {*@

                                @*}*@
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="text-end"><a class="btn btn-primary me-3" id="buttonaddupdate" href="javascript:void(0);" onclick="AddBusinessIdeas()">Add</a><a class="btn btn-danger" href="#">Cancel</a></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Business Ideas</h3>
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="my-gallery card-body" itemscope="" data-pswp-uid="1">
                        <div class="row my-gallery gallery-with-description" itemscope="" data-pswp-uid="2">
                            @foreach (var item1 in Model)
                            {
                                <figure class="col-xl-3 col-6 xl-33" itemprop="associatedMedia" itemscope="">
                                    <div style="float:right; margin-right:38px;">
                                        <a class="icon-wrapper" href="javascript:void(0);" onclick="DeleteVideo(@item1.Id)"><i class="icofont icofont-trash"></i></a>
                                    </div>
                                    <div style="float:right; margin-right:76px;">
                                        <a class="icon-wrapper" href="javascript:void(0);" onclick="EditVideo(@item1.Id)"><i class="icofont icofont-pencil"></i></a>
                                    </div>
                                    <a href="!#">

                                        @if (@item1.Image.Contains("Content"))
                                        {
                                            <img src="@item1.Image" itemprop="thumbnail" alt="Image description">
                                        }
                                        else
                                        {
                                            <img src="~/Content/Uploads/@item1.Image" itemprop="thumbnail" alt="Image description">
                                        }

                                        <div class="caption">
                                            <h4>@item1.Title</h4>
                                            <span class="clsshortdescription">@item1.ShortDescription</span>
                                        </div>
                                    </a>

                                </figure>
                            }



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>

    $(document).ready(function () {
        $("#imageuploader").on('change', function () {
            $("#uplaoderimagevalue").hide();
        });
    })
    $("#myForm").submit(function (e) {
            e.preventDefault();

            var formData = new FormData();

            $.ajax({
                url: '@Url.Action("UploadFile", "Home")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    // Handle the response
                    console.log(response);
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        });

    function AddBusinessIdeas() {
        //debugger
        var Id = $("#RecordIdhidden").val();
        var title = $("#EventTitletxtbox").val();
        var image = $("#imagetitletxtbox").val();
        var shortdescription = $("#shortDescriptiontxtbox").val();
        var longdescription = $("#Longdescriptiontxtbox").val();
        var formData = new FormData();

        formData.append('file', $("#imageuploader")[0].files[0]);

            $.ajax({
                url: '@Url.Action("UploadFile", "Home")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    var tblBusinessideadata = { Id: Id, Title: title, Image: response, ShortDescription: shortdescription, LongDescription: longdescription };
                    finaladdmodal(tblBusinessideadata);
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });


    }

    function finaladdmodal(tblBusinessideadata) {
        $.ajax({
            type: 'POST',
            url: '/Home/AddBusinessIdeas',
            data: JSON.stringify({ tblBusinessidea:tblBusinessideadata}),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (result) {
                debugger
                    alert(result.message);
                    window.location.reload();

            },
            error: function (result) {
            }
        });

    }


    function EditVideo(elm) {
            debugger
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBusinessIdeaById", "Home")',
                data: JSON.stringify({ Id: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    if (response.message != "") {
                        $("#EventTitletxtbox").val(response.message.Title);
                        $("#shortDescriptiontxtbox").val(response.message.ShortDescription);
                        $("#Longdescriptiontxtbox").val(response.message.LongDescription);
                        $("#RecordIdhidden").val(response.message.Id);
                        $("#uplaoderimagevalue").text(response.message.Image);
                        $("#uplaoderimagevalue").show();
                        $("#buttonaddupdate").text("Update");
                        window.scrollTo(0, 0);
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
    }
    function DeleteVideo(elm) {

        var result = confirm("Want to delete?");
        if (result) {
            debugger
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteBusinessIdea", "Home")',
                data: JSON.stringify({ Id: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    if (response.message == "Data Deleted successfully") {
                        alert(response.message);
                        window.location.reload();
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }


    }
</script>
