@model List<Vitkund.Models.tblVideo>
@{
    ViewBag.Title = "Add Videos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Videos</h2>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-12">
                    <form class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Add Videos</h5>
                            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <h3 style="text-align:center;margin:0 0 12px 0;display:none" id="successaddedh3">Data Saved Successfully</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Select Chapter</label>
                                        <select name="Chapters" class="form-control" id="Chaptersdll">
                                            @foreach (var item in ViewBag.tblchapters)
                                            {
                                                if (!string.IsNullOrEmpty(item.Name))
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }

                                        </select>

                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Video File Title</label>&nbsp;<span id="Videofiletitlevalid" style="color:red"></span><span id="maxvalspanvideotitle" style="color:red"></span>
                                        <input type="hidden" id="hiddenIdforvideo" />
                                        <input class="form-control" id="Videofiletitle" type="text" placeholder="Video Title">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Upload Image File</label>&nbsp;<span id="imageuploadersizevalid" style="color:red"></span>
                                        <input class="form-control" id="imageuploader" type="file" accept="image/png, image/jpeg,">
                                        <span style="display:none" id="imageuploaderspan"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-12">

                                    <div class="mb-3">
                                        <label>Upload Video File</label>&nbsp;<span id="Videouploadersizevalid" style="color:red"></span>
                                        <input class="form-control" id="Videouploader" type="file" accept="video/mp4">
                                        <span style="display:none" id="videouploaderspan"></span>
                                        @*<div class="dropzone dz-clickable" id="singleFileUpload" action="/upload.php">
                                                <div class="dz-message needsclick">
                                                    <i class="icon-cloud-up"></i>
                                                    <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer text-end">
                                <input type="button" id="btnaddupdate" class="btn btn-primary" onclick="AddVideos()" value="Upload Video" />
                                @*<button class="btn btn-primary" id="Uploadvideobutton" onclick="AddVideos()">Upload Video</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    @*Videos Listing*@
    @foreach (var item in ViewBag.tblchapters)
    {
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3>@item.Name</h3>
                    </div>

                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h6>@item.Name (Videos)</h6>
                        </div>
                        <div class="my-gallery card-body" itemscope="" data-pswp-uid="1">
                            <div class="row my-gallery gallery-with-description" itemscope="" data-pswp-uid="2">
                                @foreach (var item1 in Model.Where(x => x.fK_Chapter == item.Id))
                                {
                                    <figure class="col-xl-3 col-6 xl-33" itemprop="associatedMedia" itemscope="">
                                        <div style="float:right; margin-right:38px;">
                                            <a class="icon-wrapper" href="javascript:void(0);" onclick="DeleteVideo(@item1.Id)"><i class="icofont icofont-trash"></i></a>
                                        </div>
                                        <div style="float:right; margin-right:76px;">
                                            <a class="icon-wrapper" href="javascript:void(0);" onclick="EditVideo(@item1.Id)"><i class="icofont icofont-pencil"></i></a>
                                        </div>
                                        <a href="!#">
                                            @if (item1.VideoImage != null)
                                            {
                                                if (item1.VideoImage.Contains("Content"))
                                                {
                                                    <img src="@item1.VideoImage" itemprop="thumbnail" alt="Image description">
                                                }
                                                else
                                                {
                                                    <img src="~/Content/Uploads/@item1.VideoImage" itemprop="thumbnail" alt="Image description">

                                                }
                                            }
                                            <div class="caption">
                                                <h4>@item1.FileTitle</h4>


                                            </div>
                                        </a>

                                    </figure>
                                }



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }




   
                </div>
                <script src="~/Scripts/jquery-3.4.1.js"></script>

                <script>
    $(document).ready(function () {
        $("#Videofiletitle").on('change', function () {
            var maxLength = 50;
            var inputValue = $(this).val();
            if (inputValue.length > maxLength) {
                // Trim the input to the maximum length
                var trimmedValue = inputValue.substring(0, maxLength);
                $(this).val(trimmedValue);
                $("#maxvalspanvideotitle").text("Only 50 characters allowed.");
            }
            else {
                $("#maxvalspanvideotitle").text("");
            }
        })
        $("#Videouploader").on('change', function () {
            var maxFileSizeInBytes = 200480 * 1024; // 1 MB (adjust as needed)
            var selectedFile = this.files[0];

            if (selectedFile && selectedFile.size > maxFileSizeInBytes) {
                $('#Videouploadersizevalid').text('File size will be less than 200MB.');
                setTimeout(function () {
                    $("#Videouploader").val('');
                }, 1000)
                $("#btnaddupdate").prop('disabled', true);
            } else {
                $('#Videouploadersizevalid').text('');
                $("#btnaddupdate").prop('disabled', false);
            }

            $("#videouploaderspan").hide();

        });
        $("#imageuploader").on('change', function () {
            var maxFileSizeInBytes = 5120 * 3024; // 1 MB (adjust as needed)
            var selectedFile = this.files[0];
            if (selectedFile && selectedFile.size > maxFileSizeInBytes) {
                $('#imageuploadersizevalid').text('File size will be less than 15MB.');
                setTimeout(function () {
                    $("#imageuploader").val('');
                }, 1000)
            } else {
                $('#imageuploadersizevalid').text('');
            }
            $("#imageuploaderspan").hide();
        });
    })
    function AddVideos() {
        var validation = false;
        var formData = new FormData();
        var formData1 = new FormData();
        var FileTitle = $("#Videofiletitle").val();
        var selectedchapterid = $("#Chaptersdll option:selected").val();
        var Id = $("#hiddenIdforvideo").val();
        formData.append('file', $("#imageuploader")[0].files[0]);
        formData.append('file1', $("#Videouploader")[0].files[0]);
        if (FileTitle == "") {
            $("#Videofiletitlevalid").text("Required!")
            validation = false;
        } else {
            validation = true;
            $("#Videofiletitlevalid").text("")
        }
        debugger;
        var video = $("#Videouploader")[0].files[0];
        var imageUploader = $("#imageuploader")[0].files[0];
        if (video == undefined) {
            $('#Videouploadersizevalid').text('File size will be less than 200MB.');
            validation = false;
        }
        if (imageUploader == undefined) {
            $('#imageuploadersizevalid').text('File size will be less than 15MB.');
            validation = false;
        }
        if (validation) {
            $("#btnaddupdate").prop('disabled', true);
            $.ajax({
                url: '@Url.Action("UploadVideosFile", "Home")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {

                    var imageUploader = "no file selected";
                    var videouploader = "no file selected";
                    if (response.includes(",")) {
                        imageUploader = response.split(",")[0];
                        videouploader = response.split(",")[1];
                    }
                    var tblVideodata = { Id: Id, fK_Chapter: selectedchapterid, FileTitle: FileTitle, VideoFile: videouploader, VideoImage: imageUploader };
                    finaladdmodal(tblVideodata);

                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                    $("#btnaddupdate").prop('disabled', false);
                }
            });
        }
    }
    function finaladdmodal(tblVideodata) {
        $.ajax({
            type: 'POST',
            url: '/Home/AddVideos',
            data: JSON.stringify({ tblvideo: tblVideodata }),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (result) {
                debugger
                    alert(result.message);
                    window.location.reload();

            },
            error: function (result) {
            }
        });
    }
    function EditVideo(elm) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetVideosFile", "Home")',
                data: JSON.stringify({ Id: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    if (response.message != null) {
                        debugger
                        $("#Videofiletitle").val(response.message.FileTitle);
                        $("#videouploaderspan").text(response.message.VideoFile);
                        $("#imageuploaderspan").text(response.message.VideoImage);
                        $("#hiddenIdforvideo").val(response.message.Id);
                        $("#Chaptersdll").val(response.message.fK_Chapter);
                        $("#imageuploaderspan").show();
                        $("#videouploaderspan").show();
                        $("#btnaddupdate").text("Update");
                        window.scrollTo(0, 0);
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }
    function DeleteVideo(elm) {
        var result = confirm("Want to delete?");
        if (result) {
            debugger
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteVideosFile", "Home")',
                data: JSON.stringify({ Id: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    if (response.message == "Data Deleted successfully") {
                        alert(response.message);
                        window.location.reload();
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }


    }
                </script>
