@model Vitkund.Models.tblAdmin
@{
    ViewBag.Title = "myaccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">My Account</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-dashboard-area rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Dashboard Top  -->
                <div class="rbt-dashboard-content-wrapper">

                </div>
                <!-- End Dashboard Top  -->
                <div class="row g-5">
                    <div class="col-lg-3">
                        <!-- Start Dashboard Sidebar  -->
                        <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                            <div class="inner">
                                <div class="content-item-content">

                                    <div class="rbt-default-sidebar-wrapper">
                                        <div class="section-title mb--20">
                                            <h6 class="rbt-title-style-2">Welcome, @Model.Name</h6>
                                        </div>
                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                @*<li><a href="instructor-dashboard.html"><i class="feather-home"></i><span>Dashboard</span></a></li>*@
                                                <li><a href="#Profile" class="active"><i class="feather-user"></i><span>My Profile</span></a></li>

                                            </ul>
                                        </nav>



                                        <div class="section-title mt--40 mb--20">
                                            <h6 class="rbt-title-style-2">User</h6>
                                        </div>

                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a href="#"><i class="feather-settings"></i><span>Settings</span></a></li>
                                                <li><a href="/Login"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Dashboard Sidebar  -->
                    </div>

                    <div class="col-lg-9">
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                            <div class="content">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">My Profile</h4>
                                </div>
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">Registration Date</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        @if (Model.RegistrationDate.HasValue)
                                        {
                                            String date = @Model.RegistrationDate.Value.ToString("MMMM dd, yyyy");
                                            <div class="rbt-profile-content b2">@date</div>
                                        }
                                        else
                                        {
                                            <div class="rbt-profile-content b2"></div>
                                        }
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">Name</div>
                                    </div>
                                    <input type="hidden" id="hiddenuserid" value="@Model.Id" />
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.Name</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">Father Name</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.FatherName</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">Username</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.Username</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">Email</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.Email</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">Phone Number</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.PhoneNumber</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">City</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.City</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                                <!-- Start Profile Row  -->
                                <div class="rbt-profile-row row row--15 mt--15">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="rbt-profile-content b2">State</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="rbt-profile-content b2">@Model.State</div>
                                    </div>
                                </div>
                                <!-- End Profile Row  -->
                            </div>
                        </div>



                        <!-- Start Instructor Profile  -->
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box" style="margin-top:20px;">
                            <div class="content">

                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">Settings</h4>
                                </div>

                                <div class="advance-tab-button mb--30">
                                    <ul class="nav nav-tabs tab-button-style-2 justify-content-start" id="settinsTab-4" role="tablist">
                                        <li role="presentation">
                                            <a href="#" class="tab-button active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="true">
                                                <span class="title">Profile</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#" class="tab-button" id="password-tab" data-bs-toggle="tab" data-bs-target="#password" role="tab" aria-controls="password" aria-selected="false">
                                                <span class="title">Password</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                        <!-- Start Profile Row  -->
                                        <form action="#" class="rbt-profile-row rbt-default-form row row--15">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-form-group">
                                                    <label for="firstname">Name</label>
                                                    <input id="firstname" type="text" value="@Model.Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-form-group">
                                                    <label for="Fathernametxtbox">Father Name</label>
                                                    <input id="Fathernametxtbox" type="text" value="@Model.FatherName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-form-group">
                                                    <label for="Citytxtbox">City</label>
                                                    <input id="Citytxtbox" type="text" value="@Model.City">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-form-group">
                                                    <label for="Statetxtbox">State</label>
                                                    <input id="Statetxtbox" type="text" value="@Model.State">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-form-group">
                                                    <label for="phonenumbertxtbox">Phone Number</label>
                                                    <input id="phonenumbertxtbox" type="tel" value="@Model.PhoneNumber">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-form-group">
                                                    <label for="Usernametxtbox">User Name</label>
                                                    <input id="Usernametxtbox" type="text" value="@Model.Username">
                                                </div>
                                            </div>
                                            <div class="col-12 mt--20">
                                                <div class="rbt-form-group">
                                                    <a class="rbt-btn btn-gradient" href="javascript:void(0);" onclick="UpdateAdminDetails()">Update Info</a>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- End Profile Row  -->
                                    </div>

                                    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                                        <!-- Start Profile Row  -->
                                        <form action="#" class="rbt-profile-row rbt-default-form row row--15">
                                            <div class="col-12">
                                                <div class="rbt-form-group">
                                                    <label for="currentpassword">Current Password</label>
                                                    <input id="currentpassword" type="password" placeholder="Current Password">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="rbt-form-group">
                                                    <label for="newpassword">New Password</label>
                                                    <input id="newpassword" type="password" placeholder="New Password">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="rbt-form-group">
                                                    <label for="retypenewpassword">Re-type New Password</label><span id="passwordmatch" style="color:red"></span>
                                                    <input id="retypenewpassword" type="password" placeholder="Re-type New Password">
                                                </div>
                                            </div>
                                            <div class="col-12 mt--10">
                                                <div class="rbt-form-group">
                                                    <a class="rbt-btn btn-gradient" href="javascript:void(0);" onclick="UpdatePassword()">Update Password</a>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- End Profile Row  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Instructor Profile  -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function UpdateAdminDetails() {
        var Id = $("#hiddenuserid").val();
        var Name = $("#firstname").val();
        var Fathername = $("#Fathernametxtbox").val();
        var City = $("#Citytxtbox").val();
        var State = $("#Statetxtbox").val();
        var phonenumber = $("#phonenumbertxtbox").val();
        var Username = $("#Usernametxtbox").val();
        var tblAdmin = { Id: Id, Username: Username, Name: Name, FatherName: Fathername, City: City, State: State, PhoneNumber: phonenumber }
        $.ajax({
            type: 'POST',
            url: '/Home/UpdateProfileDetails',
            data: JSON.stringify({ tbladmin: tblBusinessideadata }),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (result) {
                debugger
                alert(result.message);
                window.location.reload();

            },
            error: function (result) {
            }
        });
    }
    function UpdatePassword() {
        var id = $("#hiddenuserid").val();
        var Currentpassword = $("#currentpassword").val();
        var Newpassword = $("#newpassword").val();
        var RetypePassword = $("#retypenewpassword").val();
        if (Currentpassword == "" && Newpassword == "") {
            alert('Please Enter Current Password and New Password!');
        }
        else {
            if (Newpassword == RetypePassword) {
                $("#passwordmatch").text("");
                $.ajax({
                    type: 'POST',
                    url: '/Home/UpdatePassword',
                    data: JSON.stringify({ Id: id, CurrentPassword: Currentpassword, NewPassword: Newpassword }),
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    success: function (result) {
                        debugger
                        alert(result.message);
                        window.location.reload();

                    },
                    error: function (result) {
                    }
                });
            }
            else {
                $("#passwordmatch").text("Password Does not match.");
            }
        }
    }
</script>
