@model List<Vitkund.Models.tblTrendingBusiness>
<style>
    .notdatafoundcls {
        color: white;
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
</style>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Trending Business Ideas</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->

                        <div class=" title-wrapper">
                            <h1 class="title mb--0">Trending Business Ideas</h1>

                        </div>

                        <p class="description">India's most practical, experienced, down to earth, no imaginary talk platform, beyond Google knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40 mt_sm--20">
            <div class="container">
                <div class="row g-5 align-items-center">

                    <div class="col-lg-5 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center">
                            <div class="rbt-short-item switch-layout-container">
                                <ul class="course-switch-layout">
                                    <li class="course-switch-item"><button class="rbt-grid-view active" title="Grid Layout"><i class="feather-grid"></i> <span class="text">Grid</span></button></li>
                                    <li class="course-switch-item"><button class="rbt-list-view" title="List Layout"><i class="feather-list"></i> <span class="text">List</span></button></li>
                                </ul>
                            </div>
                            <div class="rbt-short-item">
                                <span class="course-index">Showing 1-4 of 4 results</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center justify-content-start justify-content-lg-end">
                            <div class="rbt-short-item">
                                <form action="#" class="rbt-search-style me-0">
                                    <input type="text" placeholder="Search Your Course..">
                                    <button type="submit" class="rbt-search-btn rbt-round-btn">
                                        <i class="feather-search"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="rbt-short-item">
                                <div class="view-more-btn text-start text-sm-end">
                                    <button class="discover-filter-button discover-filter-activation rbt-btn btn-white btn-md radius-round">Filter<i class="feather-filter"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Filter Toggle  -->
                <div class="default-exp-wrapper default-exp-expand">
                    <div class="filter-inner">
                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Short By</span>
                                <select id="Shortbyddl">
                                    <option>Default</option>
                                    <option>Latest</option>
                                    <option>Popularity</option>
                                    <option>Trending</option>
                                    <option>Price: low to high</option>
                                    <option>Price: high to low</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Short By Author</span>
                                <select data-live-search="true" title="Select Author" id="shortbyauthorddl" multiple data-size="7" data-actions-box="true" data-selected-text-format="count > 2">
                                    <option data-subtext="Experts">Janin Afsana</option>
                                    <option data-subtext="Experts">Joe Biden</option>
                                    <option data-subtext="Experts">Fatima Asrafy</option>
                                    <option data-subtext="Experts">Aysha Baby</option>
                                    <option data-subtext="Experts">Mohamad Ali</option>
                                    <option data-subtext="Experts">Jone Li</option>
                                    <option data-subtext="Experts">Alberd Roce</option>
                                    <option data-subtext="Experts">Zeliski Noor</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Short By Offer</span>
                                <select id="shortbyoffer">
                                    <option>Free</option>
                                    <option>Paid</option>
                                    <option>Premium</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Short By Category</span>
                                <select data-live-search="true" id="shortbycategory">
                                    <option>Web Design</option>
                                    <option>Graphic</option>
                                    <option>App Development</option>
                                    <option>Figma Design</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select">
                                <span class="select-label d-block">Price Range</span>

                                <div class="price_filter s-filter clear">
                                    <form action="#" method="GET">
                                        <div id="slider-range"></div>
                                        <div class="slider__range--output">
                                            <div class="price__output--wrap">
                                                <div class="price--output">
                                                    <span>Price :</span><input type="text" id="amount">
                                                </div>
                                                <div class="price--filter">
                                                    <a class="rbt-btn btn-gradient btn-sm" href="javascript:void(0);" onclick="FilterbyPriceRange()">Filter</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Toggle  -->
            </div>
        </div>
        <!-- End Course Top  -->
    </div>
</div>

<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="inner">
        <div class="container">
            <div class="rbt-course-grid-column">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {<!-- Start Single Card  -->
                        <div class="course-grid-3">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a href="#">
                                        <div class="rbt-badge-3 bg-white">
                                            <span>-40%</span>
                                            <span>Off</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <div class="rbt-card-top">
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="#">
                                                <i class="feather-bookmark"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <h4 class="rbt-card-title">
                                        <a href="#">@item.BusinessName</a>
                                    </h4>
                                    @if (item.FromPrice != null && item.ToPrice != null)
                                    {
                                        <h6>
                                            Price Range :- @item.FromPrice - @item.ToPrice
                                        </h6>
                                    }
                                    @*<p class="rbt-card-text">
                                            @item.VideoLink
                                        </p>*@

                                    <div class="rbt-card-bottom">
                                        <!-- <div class="rbt-price"> -->
                                        <!-- <span class="current-price">$60</span> -->
                                        <!-- <span class="off-price">$120</span> -->
                                        <!-- </div> -->
                                        @if (item.VideoLink != null && item.VideoLink != "")
                                        {
                                            <a class="rbt-btn-link" href="@item.VideoLink">
                                                Learn
                                                More<i class="feather-arrow-right"></i>
                                            </a>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- End Single Card  -->


            </div>

        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $("#Shortbyddl").on("change", function () {
        var value = $("#Shortbyddl :selected").val();
        Filterfired(value)
    })
    function Filterfired(elm) {
        //alert('Fired');
        //var shortbyddlvalue = $("#Shortbyddl :selected").val();
        //var shortbyauthorddlvalue = $("#shortbyauthorddl :selected").val();
        //var shortbyoffervalue = $("#shortbyoffer :selected").val();
        //var shortbycategoryvalue = $("#shortbycategory :selected").val();
        //var pricerange = $("#amount").val().replaceAll("$", "");
        $.ajax({
                type: 'POST',
                url: '@Url.Action("FilterTrendingBusiness", "Home")',
                data: JSON.stringify({ filtervalue: elm }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    var html = "";
                    if (response.data != null) {
                        if (response.data == "No Data Found!") {
                            $(".rbt-course-grid-column").html("<p class='notdatafoundcls'>" + response.data + "</p>");
                        }
                        else {
                            $(".rbt-course-grid-column").html('');
                            for (var i = 0; i < response.data.length; i++) {
                                var Id = response.data[i].Id;
                                var Businessname = response.data[i].BusinessName;
                                var Fromprice = response.data[i].FromPrice;
                                var Toprice = response.data[i].ToPrice;
                                var VideoLink = response.data[i].VideoLink;

                                html += '<div class="course-grid-3"> <div class="rbt-card variation-01 rbt-hover"> <div class="rbt-card-img"> <a href="#">';
                                html += '<div class="rbt-badge-3 bg-white"> <span>-40%</span> <span>Off</span> </div> </a> </div > <div class="rbt-card-body"> <div class="rbt-card-top"> <div class="rbt-review"> <div class="rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div> <span class="rating-count"> (15 Reviews)</span> </div> <div class="rbt-bookmark-btn"> <a class="rbt-round-btn" title="Bookmark" href="#"> <i class="feather-bookmark"></i> </a> </div> </div> <h4 class="rbt-card-title"> <a href="#">' + Businessname + '</a> </h4><h6>Price Range :- ' + Fromprice + ' - ' + Toprice + '</h6><div class="rbt-card-bottom">';
                                if (VideoLink != null && VideoLink != '') {
                                    html += '<a class="rbt-btn-link" href="' + VideoLink + '"> Learn More<i class="feather-arrow-right"></i> </a>';
                                }
                                html += '</div></div></div ></div > '
                            }
                            $(".rbt-course-grid-column").html(html);
                        }
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
    }

    function FilterbyPriceRange() {
        debugger
        var value = $("#amount").val().replaceAll("INR ", "");
        var minprice = value.split(" - ")[0];
        var maxprice = value.split(" - ")[1];
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FilterTrendingBusinessbypricerange", "Home")',
            data: JSON.stringify({ minprice: minprice, maxprice: maxprice }),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (response) {
                debugger
                var html = "";
                if (response.data != null) {
                    if (response.data == "No Data Found!") {
                        $(".rbt-course-grid-column").html("<p class='notdatafoundcls'>" + response.data + "</p>");
                    }
                    else {
                        $(".rbt-course-grid-column").html('');
                        for (var i = 0; i < response.data.length; i++) {
                            var Id = response.data[i].Id;
                            var Businessname = response.data[i].BusinessName;
                            var Fromprice = response.data[i].FromPrice;
                            var Toprice = response.data[i].ToPrice;
                            var VideoLink = response.data[i].VideoLink;

                            html += '<div class="course-grid-3"> <div class="rbt-card variation-01 rbt-hover"> <div class="rbt-card-img"> <a href="#">';
                            html += '<div class="rbt-badge-3 bg-white"> <span>-40%</span> <span>Off</span> </div> </a> </div > <div class="rbt-card-body"> <div class="rbt-card-top"> <div class="rbt-review"> <div class="rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div> <span class="rating-count"> (15 Reviews)</span> </div> <div class="rbt-bookmark-btn"> <a class="rbt-round-btn" title="Bookmark" href="#"> <i class="feather-bookmark"></i> </a> </div> </div> <h4 class="rbt-card-title"> <a href="#">' + Businessname + '</a> </h4><h6>Price Range :- ' + Fromprice + ' - ' + Toprice + '</h6><div class="rbt-card-bottom">';
                            if (VideoLink != null && VideoLink != '') {
                                html += '<a class="rbt-btn-link" href="' + VideoLink + '"> Learn More<i class="feather-arrow-right"></i> </a>';
                            }
                            html += '</div></div></div ></div > '
                            }
                            $(".rbt-course-grid-column").html(html);
                        }
                    }
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
    }
</script>